<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="nav" id="nav">
    <script defer src="/js/members.js"></script>
    <script defer src="/js/calendar.js"></script>
    <script defer src="/js/api.js"></script>
    <span id="session-time"
          th:text="${#session.getMaxInactiveInterval()}"></span>
    <div class="my-btn">
        <a th:href="@{/members/${session.memberId}}" class="btn btn-primary"}>내정보</a>
    </div>
    <div class="my-btn">
        <button type="button" class="btn btn-primary" onclick="logout()">로그아웃</button>
    </div>
</nav>

</html>