<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<form id="record-update-form" th:object="${record}">
    <div id="top">
        <input type="hidden" th:field="*{recordId}">
        <div class="form-floating">
            <input type="date" id="dateOfRecord" class="form-control" th:field="*{dateOfRecord}" placeholder="날짜">
            <label for="dateOfRecord" class="label-record">날짜</label>
        </div>
        <div class="form-floating">
            <input type="number" id="bodyWeight" class="form-control" th:field="*{bodyWeight}" placeholder="몸무게">
            <label for="bodyWeight" class="label-record">몸무게</label>
        </div>
    </div>
    <div id="bottom" class="form-floating">
        <textarea id="memo" class="form-control" th:field="*{memo}" placeholder="메모"></textarea>
        <label for="memo" class="label-record">메모</label>
    </div>
    <div class="record-btn">
        <div class="my-btn">
            <button type="button" class="btn btn-secondary" onclick="cancelUpdateRecord()">취소</button>
        </div>
        <div class="my-btn">
            <button type="button" class="btn btn-secondary" onclick="requestUpdateRecord()">수정</button>
        </div>
    </div>
</form>

</html>