@media all and (min-width: 1024px) {
    .main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav {
        width: 70%;
        height: 7%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #session-time {
        display: none;
    }

    .form-btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .my-btn {
        margin-left: 5px;
        margin-right: 5px;
    }

    /* edited bootStrap */
    .row {
        justify-content: center;
    }

    /* welcome page */
    .welcome-content, .join-content {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome-logo, .join-logo {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    .welcome-login {
        width: 100%;
        padding: 20px 10px 20px 10px;
        display: flex;
        justify-content: center;
        border: solid 1px #d6dddd;
        border-radius: 8px;
    }

    #login-form, #join-form {
        width: 100%;
    }

    /* join page */
    #join-form {
        padding: 20px 10px 20px 10px;
        border: solid 1px #d6dddd;
        border-radius: 8px;
    }

    #join-form #nickname-validation {
        width: 100%;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* home */
    .home-container {
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: solid 1px #0d6efd;
        border-radius: 12px;
        background: #0d6efd;
    }

    .content-left {
        width: 40%;
        height: 96%;
        border: solid 1px #0d6efd;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff;
    }

    .content-right {
        width: 57%;
        height: 96%;
        border: solid 1px #0d6efd;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: #ffffff;
    }

    /* calendar */
    #calendar {
        width: 90%;
        height: 70%;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
    }

    #calendar #calendar-control td {
        height: 80px;
        font-size: 1.5rem;
    }

    #prev, #next {
        cursor: pointer;
    }

    #prev:hover, #next:hover {
        font-size: 1.8rem;
        color: sandybrown;
    }

    .sun {
        color: orangered;
    }

    .sat {
        color: #0d6efd;
    }

    .date:hover {
        background: sandybrown;
        opacity: 50%;
        border-radius: 5%;
        color: #ffffff;
        cursor: pointer;
    }

    .selected {
        background: sandybrown;
        border-radius: 5%;
        color: #ffffff;
    }

    /* Record Field */
    .record-exist, .record-not-exist {
        width: 90%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
    }

    .record-not-exist {
        margin-top: 35%;
    }

    .record-exist::-webkit-scrollbar, .record-not-exist::-webkit-scrollbar {
        display: none;
    }

    .record-btn {
        width: 100%;
        min-height: 50px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #record-fields, #record-update-form {
        width: 100%;
        min-height: 170px;
        border-radius: 8px;
        background: #d6dddd;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .label-record {
        font-size: 1.1rem;
        font-weight: bold;
    }

    #record-fields #top, #record-update-form #top {
        width: 90%;
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #record-fields #top div, #record-update-form #top div {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }

    #record-fields #bottom, #record-update-form #bottom {
        width: 90%;
        margin-bottom: 10px;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #record-fields #bottom div, #record-update-form #bottom div {
        min-height: 60px;
        margin-top: 5px;
        padding: 3px 5px 3px 5px;
        background: #ffffff;
        border-radius: 4px;
    }

    #record-update-form textarea {
        min-height: 80px;
    }

    #record-update-form .record-btn {
        margin-top: 10px;
    }

    /* Training Session */
    #training-session {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #training-sessions-exist {
        width: 90%;
    }

    #training-sessions-not-exist {
        width: 90%;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}



