<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Home::fitt-demo')"></head>
<body>
    <div class="main">
        <nav th:replace="fragments/nav :: nav"></nav>
        <div class="home-container">
            <div class="content-left">
                <table id="calendar">
                    <thead>
                        <tr id="calendar-control">
                            <td>
                                <label id="prev" onclick="prev()">&#60;</label>
                            </td>
                            <td id="current-year-month" colspan="5"></td>
                            <td>
                                <label id="next" onclick="next()">&#62;</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="sun">일</td>
                            <td>월</td>
                            <td>화</td>
                            <td>수</td>
                            <td>목</td>
                            <td>금</td>
                            <td class="sat">토</td>
                        </tr>
                    </thead>
                    <tbody id="calendar-body" class="calendar-body"></tbody>
                </table>
            </div>
            <div class="content-right">
                <div class="record-exist" th:if="${record}" th:object="${record}">
                    <div id="record-fields">
                        <div id="top">
                            <input type="hidden" id="recordId" th:field="*{recordId}">
                            <div>
                                <label for="dateOfRecord" class="label-record">날짜</label>
                                <span id="dateOfRecord" th:text="*{dateOfRecord}"></span>
                            </div>
                            <div>
                                <label for="bodyWeight" class="label-record">몸무게</label>
                                <span id="bodyWeight" th:text="|*{bodyWeight} kg|"></span>
                            </div>
                        </div>
                        <div id="bottom">
                            <label for="memo" class="label-record">메모</label>
                            <div id="memo" th:text="*{memo}"></div>
                        </div>
                    </div>
                    <div id="training-session">
                        <div id="training-sessions-exist" th:if="*{not #lists.isEmpty(trainingSessionSimpleDtos)}">
                            <div id="simple-training-session"
                                 th:each="simple : *{trainingSessionSimpleDtos}">
                                <span th:text="${simple.trainingSessionId}"></span>
                                <span th:text="${simple.title}"></span>
                                <span th:text="${simple.totalVolume}"></span>
                            </div>
                            <div class="my-btn">
                                <button type="button" class="btn btn-primary ts-add-btn">세션 추가</button>
                            </div>
                        </div>
                        <div id="training-sessions-not-exist" th:unless="*{not #lists.isEmpty(trainingSessionSimpleDtos)}">
                            <div class="my-btn">
                                <button type="button" class="btn btn-primary ts-add-btn">세션 추가</button>
                            </div>
                        </div>
                    </div>
                    <div class="record-btn">
                        <div class="my-btn">
                            <button type="button" class="btn btn-secondary" onclick="requestRemoveRecord()">기록삭제</button>
                        </div>
                        <div class="my-btn">
                            <button type="button" class="btn btn-secondary" onclick="requestUpdateForm()">기록수정</button>
                        </div>
                    </div>
                </div>
                <div class="record-not-exist" th:unless="${record}">
                    <span>아직 운동 기록이 존재하지 않습니다.</span>
                    <div class="record-btn">
                        <div class="my-btn">
                            <button type="button" class="btn btn-secondary" onclick="requestCreateRecord()">기록하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    <script>
    </script>
</body>
</html>