<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Welcome::fitt-demo')"></head>
<body>
    <script defer src="/js/members.js"></script>
    <div class="main">
        <div class="welcome-content">
            <div class="welcome-logo">fitt-demo</div>
            <div class="welcome-login">
                <form id="login-form">
                    <div class="row mb-3">
                        <label for="nickname" class="col-sm-2 col-form-label">닉네임</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="nickname" name="nickname">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="password" class="col-sm-2 col-form-label">비밀번호</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                    </div>
                    <div class="form-btn">
                        <div class="my-btn">
                            <a href="/members/join" class="btn btn-primary">회원가입</a>
                        </div>
                        <div class="my-btn">
                            <button type="button"
                                    class="btn btn-primary"
                                    id="login-btn"
                                    onclick="checkInput()">로그인</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>